@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Poiret+One&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
}

h1 {
  margin: 1rem 0;
  font-family: 'Playfair Display', serif;
}

h2 {
  color: white;
  opacity: 0;
  font-size: 5rem;
  animation: fadeIn 2s ease forwards;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

.content {
  opacity: 0;
  animation: fadeInText 2s ease forwards 3s;
  width: 100%;
  text-align: center;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.intro {
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: mistyrose;
  transform: scale(0, 0);
  animation: animate 1s ease-in forwards 2s;
  overflow: hidden;
}

@keyframes animate {
  0% {
    transform: scale(0, 0.005);
  }
  50% {
    transform: scaleY(0.005);
  }
  100% {
    transform: scale(1,1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(-50%);
  }
}

@keyframes fadeInText {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.container {
  flex-basis: 50%;
  
}

h3 {
  font-family: 'Poiret One', cursive;
  text-decoration: underline;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}

#calculate_list {
  background-image: url('https://images.unsplash.com/photo-1563293756-857fc846d0d1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1185&q=80');
  background-size: cover;
  
  -webkit-animation: slidein 100s;
  animation: slidein 100s;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;
  animation-direction: alternate;

  height: 100vh;
}

@keyframes slidein {
  from {
    background-position: top;
  }
  to {
    background-position: -100px 0px;
  }
}

#cover {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* Left side of webpage styling */

.classList {
  padding: 10px;
  width: 30vw;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  border-radius: 20px 5px 20px 5px;
  overflow: hidden;
}

@supports (-webkit-backdrop-filter:none) or (backdrop-filter: none) {
  .classList {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.2);
  }
}

.calculator {
  width: 30vw;
  padding: 10px;
  border-radius: 30px;
  background-color: rgba(255, 228, 225, 0.9);
}

table {
  width: 100%;
  table-layout: fixed;
}

.tbl-header {
  background-color: rgba(255,255,255,0.3);
}

.tbl-content {
  height: 25vh;
  overflow-x: auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}

th {
  padding: 15px 10px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: black;
  text-transform: uppercase;
}
td {
  padding: 10px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: solid 1px rgba(255,255,255,0.3);
  font-size: 12px;
}

::-webkit-scrollbar {
  width:6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

/* Progress Wheel */
.wheel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
}

.outer {
  height: 200px;
  width: 200px;
  box-shadow: 
    6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    6px 6px 10px -1px rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.inner {
  background-color: mistyrose;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  box-shadow: 
    inset 4px 4px 6px -1px rgba(0,0,0,0.2),
    inset 4px 4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
    0px 12px 10px -10px rgba(0,0,0,0.05);
}

.name {
  font-weight: 600;
  font-size: 1.2rem;
  font-family: 'Playfair Display', san-serif;
  color: #555;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Gpa Wheels */
circle {
  fill: none;
  stroke-width: 30px;
  stroke-dasharray: 534;
  stroke-dashoffset: 534;
}

.unweightedWheel {
  stroke: url(#GradientColorUnweighted);
}
.weightedWheel {
  stroke: url(#GradientColorWeighted);
}

:root {
  --stroke-dashoffset-weight: 106.8;
}

.circle-animation.unweightedWheel {
  animation: animate-wheel-unweight 8s linear forwards;
}

.circle-animation.weightedWheel {
  animation: animate-wheel-weight 8s linear forwards;
}

@keyframes animate-wheel-unweight {
  to{stroke-dashoffset: var(--stroke-dashoffset-unweight);}
}

@keyframes animate-wheel-weight {
  to{stroke-dashoffset: var(--stroke-dashoffset-weight);}
}

svg {
  margin-top:-250px;
}

.collegesContainer {
  border-radius: 25px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #9BD8E4;
  height: 30vh;
}

.collegesContainer .tbl-content {
  height: 13vh;
}

.colleges {
  height: 150px;
}

#classInput, #gradeInput {
  background-color: #9BD8E4;
  border: solid 1px black;
  border-radius: 20px;
  padding-left: 5px;
  padding-right: 5px;
  font-family: 'Playfair Display';
  text-transform: uppercase;
  font-weight: bolder;
}

#createClassBtn {
  background-color: #EA0052;
  font-weight: bold;
  font-family: 'Playfair Display';
  text-transform: uppercase;
  border: 1px solid black;
  color: white;
  padding: 5px;
  border-radius: 30px;
}

input[type = 'radio'], #r1 {
  accent-color: #FF0068;
}


input[type = 'radio'], #r2 {
  accent-color: #F88F00;
}