@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Poiret+One&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

h1 {
  margin: 1rem 0;
  font-family: 'Playfair Display', serif;
}

h2 {
  color: white;
  opacity: 0;
  font-size: 5rem;
  animation: fadeIn 2s ease forwards;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

.content {
  opacity: 0;
  animation: fadeInText 2s ease forwards 3s;
  width: 100%;
  text-align: center;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.intro {
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: mistyrose;
  transform: scale(0, 0);
  animation: animate 1s ease-in forwards 2s;
  overflow: hidden;
}

@keyframes animate {
  0% {
    transform: scale(0, 0.005);
  }
  50% {
    transform: scaleY(0.005);
  }
  100% {
    transform: scale(1,1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(-50%);
  }
}

@keyframes fadeInText {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.container {
  flex-basis: 50%;
  
}

h3 {
  font-family: 'Poiret One', cursive;
  text-decoration: underline;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}

#calculate_list {
  background-image: url('https://images.unsplash.com/photo-1563293756-857fc846d0d1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1185&q=80');
  background-size: cover;
  
  -webkit-animation: slidein 100s;
  animation: slidein 100s;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;
  animation-direction: alternate;

  height: 100vh;
}

@keyframes slidein {
  from {
    background-position: top;
  }
  to {
    background-position: -100px 0px;
  }
}

#cover {
  /* background: rgba(248, 168, 209, 0.3); */
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

/* Left side of webpage styling */

.classList {
  padding: 10px;
  width: 30vw;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  border-radius: 20px 5px 20px 5px;
  overflow: hidden;
}

.calculator {
  width: 30vw;
  padding: 10px;
  border-radius: 30px;
  background-color: rgba(255, 228, 225, 0.9);
}

.toggle, .toggle:before, .slot__label, .curtain {
	transition-property: background-color, transform, visibility;
	transition-duration: 0.25s;
	transition-timing-function: ease-in, cubic-bezier(0.6,0.2,0.4,1.5), linear;
}
.toggle:before, .slot, .slot__label {
	display: block;
}
.toggle:before, .curtain {
	position: absolute;
}
.toggle:checked, .curtain {
	background-color: #2b7f3a;
}
.toggle:focus {
	outline: transparent;
}
.toggle {
	border-radius: 0.75em;
	box-shadow: 0 0 0 0.1em inset;
	cursor: pointer;
	position: relative;
	margin-right: 0.25em;
	width: 3em;
	height: 1.5em;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-tap-highlight-color: transparent;
}
.toggle:before {
	background: currentColor;
	border-radius: 50%;
	content: "";
	top: 0.2em;
	left: 0.2em;
	width: 1.1em;
	height: 1.1em;
}
.toggle:checked:before {
	transform: translateX(1.5em);
}
.toggle:checked ~ .slot .slot__label, .slot__label:nth-child(2) {
	transform: translateY(-50%) scaleY(0);
}
.toggle:checked ~ .slot .slot__label:nth-child(2) {
	transform: translateY(-100%) scaleY(1);
}
.toggle:checked ~ .curtain {
	transform: scaleX(1);
}
.slot {
	color: transparent;
	font-size: 1.5em;
	font-weight: bold;
	letter-spacing: 0.1em;
	line-height: 1;
	overflow: hidden;
	height: 1em;
	text-indent: -0.9em;
	-webkit-text-stroke: 0.05em #fff;
}
.slot__label {
	transform-origin: 50% 0;
}
.slot__label:nth-child(2) {
	transform-origin: 50% 100%;
}
.curtain {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: scaleX(0);
	transform-origin: 0 50%;
	z-index: -1;
}

@supports (-webkit-backdrop-filter:none) or (backdrop-filter: none) {
  .classList {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.3);
  }
}

/* Progress Wheel */
.wheel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
}

.outer {
  height: 200px;
  width: 200px;
  box-shadow: 
    6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    6px 6px 10px -1px rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.inner {
  background-color: mistyrose;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  box-shadow: 
    inset 4px 4px 6px -1px rgba(0,0,0,0.2),
    inset 4px 4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
    0px 12px 10px -10px rgba(0,0,0,0.05);
}

.name {
  font-weight: 600;
  font-size: 1.2rem;
  font-family: 'Playfair Display', san-serif;
  color: #555;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Gpa Wheels */
circle {
  fill: none;
  stroke-width: 30px;
  stroke-dasharray: 534;
  stroke-dashoffset: 534;
}

.unweightedWheel {
  stroke: url(#GradientColorUnweighted);
}
.weightedWheel {
  stroke: url(#GradientColorWeighted);
}

:root {
  --stroke-dashoffset-weight: 106.8;
}

.circle-animation.unweightedWheel {
  animation: animate-wheel-unweight 8s linear forwards;
}

.circle-animation.weightedWheel {
  animation: animate-wheel-weight 8s linear forwards;
}

@keyframes animate-wheel-unweight {
  to{stroke-dashoffset: var(--stroke-dashoffset-unweight);}
}

@keyframes animate-wheel-weight {
  to{stroke-dashoffset: var(--stroke-dashoffset-weight);}
}

svg {
  margin-top:-250px;
}




